#board{
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
}

main{
    width: 600px;
    margin: auto;
}

#board div{
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
#controls{
    text-align: center;
    
}

button{
    background-color: #134B70;
    color: white;
}
button:hover{
    cursor: pointer;
}
#board div:hover{
    cursor: pointer;
}
#main{
    padding-top: 40px;
    height: calc(100vh - 180px);
}
body{
    background-color: #1A2130;
}
#board{
    box-shadow: 3px 3px 3px 2px;
    font-size: 40px;
}

footer{
    height: 60px;
    background-color: #508C9B;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
#result{
    font-size: 30px;
    font-weight: bold;
}

main{
    background-color: #EEEEEE;
    padding: 40px;
    border-radius: 15px;
    
}
header{
    padding: 20px;
    background-color: #508C9B;
}
#result{
    margin-top: 20px;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 80px;
    justify-content: center;
    
    
}
#turn{
    font-size: 20px;
}
button{
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 20px;
}
#board-container{
    display: flex;
    
    justify-content: center;
}
section{
    display: grid;
    gap: 40px;
    grid-template: auto / 1fr 1fr;
}

#board div:nth-child(1), #board div:nth-child(2), #board div:nth-child(3){
    border-top: none;
}
#board div:nth-child(1), #board div:nth-child(4), #board div:nth-child(7){
    border-left: none;
}
#board div:nth-child(3), #board div:nth-child(6), #board div:nth-child(9){
    border-right: none;
}
#board div:nth-child(7), #board div:nth-child(8), #board div:nth-child(9){
    border-bottom: none;
}


